name: Update Participants

on:
  schedule:
    - cron: '0 4-22 * * *' # 7:00 to 01:00 MSK
  workflow_dispatch:

permissions:
  contents: write

env:
  CHAMPIONSHIP_ID: '537'
  SCRAPE_URL: 'https://yoklmnracing.ru/championships/537'
  GITHUB_REPO: ${{ github.repository }}

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Download Scraper Binary
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download scraper-latest --repo "$GITHUB_REPO" --pattern "scraper-linux-amd64" --clobber
          chmod +x scraper-linux-amd64

      - name: Run Scraper
        run: |
          ./scraper-linux-amd64 --url="$SCRAPE_URL" --output="participants-${CHAMPIONSHIP_ID}.csv" --with-reverse-name
          # Hack: Rename car model (LADA ะก GT -> LADA 2118 Concept C GT)
          sed -i 's/LADA ะก GT/LADA 2118 Concept C GT/g' "participants-${CHAMPIONSHIP_ID}.csv"
          sed -i 's/LADA ะก GT/LADA 2118 Concept C GT/g' "participants-${CHAMPIONSHIP_ID}-name-reversed.csv"

      - name: Upload to Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          TAG="championship-${CHAMPIONSHIP_ID}"
          FILE="participants-${CHAMPIONSHIP_ID}.csv"
          FILE_REVERSED="participants-${CHAMPIONSHIP_ID}-name-reversed.csv"
          README_LINK="https://github.com/$GITHUB_REPO/blob/main/scraper/README.md"

          NOTES="Updated: $(date -u +'%Y-%m-%d %H:%M:%S') UTC.
          See scraper [README]($README_LINK) for details."

          gh release delete "$TAG" --repo "$GITHUB_REPO" --cleanup-tag --yes || true
          gh release create "$TAG" "$FILE" "$FILE_REVERSED" --repo "$GITHUB_REPO" \
            --title "Championship $CHAMPIONSHIP_ID" \
            --notes "$NOTES"
