name: Update Participants

on:
  schedule:
    # GitHub cron is in UTC. 05:00–21:00 UTC.
    - cron: '0 5-21/2 * * *' # every 2 hours, 05:00–21:00 UTC
  workflow_dispatch:

permissions:
  contents: write

env:
  GITHUB_REPO: ${{ github.repository }}

jobs:
  scrape:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - championship_id: '537'
            scrape_url: 'https://yoklmnracing.ru/championships/537'
          - championship_id: '538'
            scrape_url: 'https://yoklmnracing.ru/championships/538'
    steps:
      - name: Download Scraper Binary
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download scraper-latest --repo "$GITHUB_REPO" --pattern "scraper-linux-amd64" --clobber
          chmod +x scraper-linux-amd64

      - name: Run Scraper
        run: |
          CHAMPIONSHIP_ID='${{ matrix.championship_id }}'
          SCRAPE_URL='${{ matrix.scrape_url }}'
          ./scraper-linux-amd64 --url="$SCRAPE_URL" --output="participants-${CHAMPIONSHIP_ID}.csv" --with-reverse-name
          # Hack: Rename car model (LADA С GT -> LADA 2118 Concept C GT)
          if [ "$CHAMPIONSHIP_ID" = "537" ]; then
            sed -i 's/LADA С GT/LADA 2118 Concept C GT/g' "participants-${CHAMPIONSHIP_ID}.csv"
            sed -i 's/LADA С GT/LADA 2118 Concept C GT/g' "participants-${CHAMPIONSHIP_ID}-name-reversed.csv"
          fi

      - name: Upload to Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          CHAMPIONSHIP_ID='${{ matrix.championship_id }}'
          TAG="championship-${CHAMPIONSHIP_ID}"
          FILE="participants-${CHAMPIONSHIP_ID}.csv"
          FILE_REVERSED="participants-${CHAMPIONSHIP_ID}-name-reversed.csv"
          README_LINK="https://github.com/$GITHUB_REPO/blob/main/scraper/README.md"

          NOTES="Updated: $(date -u +'%Y-%m-%d %H:%M:%S') UTC.
          See scraper [README]($README_LINK) for details."

          gh release delete "$TAG" --repo "$GITHUB_REPO" --cleanup-tag --yes || true
          gh release create "$TAG" "$FILE" "$FILE_REVERSED" --repo "$GITHUB_REPO" \
            --title "Championship $CHAMPIONSHIP_ID" \
            --notes "$NOTES"
